<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- META DATA -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <!-- TITLE OF SITE -->
    <title>Zombiz</title>

    <!-- for title img -->
    <link rel="shortcut icon" type="image/icon" href="~/Tema/assets/images/logo/favicon.png" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/Tema/assets/css/font-awesome.min.css">

    <!--linear icon css-->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <!--animate.css-->
    <link rel="stylesheet" href="~/Tema/assets/css/animate.css">

    <!--hover.css-->
    <link rel="stylesheet" href="~/Tema/assets/css/hover-min.css">

    <!--vedio player css-->
    <link rel="stylesheet" href="~/Tema/assets/css/magnific-popup.css">

    <!--owl.carousel.css-->
    <link rel="stylesheet" href="~/Tema/assets/css/owl.carousel.min.css">
    <link href="~/Tema/assets/css/owl.theme.default.min.css" rel="stylesheet" />


    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/Tema/assets/css/bootstrap.min.css">

    <!-- bootsnav -->
    <link href="~/Tema/assets/css/bootsnav.css" rel="stylesheet" />

    <!--style.css-->
    <link href="~/Tema/assets/css/style.css" rel="stylesheet" />

    <!--responsive.css-->
    <link rel="stylesheet" href="~/Tema/assets/css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--header start-->
    <section class="header">
        <div class="container">
            
           
                        <!-- small modal -->
                       

                        <!-- large modal -->
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">
                                                <i class="fa fa-close"></i>
                                            </span>
                                        </button>
                                        <h4 class="modal-title" id="myLargeModalLabel">Register</h4>
                                        <form class="lg-frm" style="padding:25px">
                                            <label>Name :</label>
                                            <input type="text" class="form-control" placeholder="Enter Name">
                                            <label>Email :</label>
                                            <input type="text" class="form-control" placeholder="Enter Email">
                                            <label>Passoward :</label>
                                            <input type="text" class="form-control" placeholder="Enter Passoward">
                                            <button type="button" class="btn btn-default pull-right">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><!--/li -->
                    <li>
                        
                    </li><!--/li -->
                </ul><!--/ul -->
            </div><!--/.header-right -->
        </div><!--/.container -->

    </section><!--/.header-->
    <!--header end-->
    <!--menu start-->
    <section id="menu">
        <div class="container">
            <div class="menubar">
                <nav class="navbar navbar-default">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <img src="~/Tema/assets/images/logo/logo.png" alt="logo">
                        </a>
                    </div><!--/.navbar-header -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="index.html">Anasayfa</a></li>
                            <li><a href="about.html">Hakkımızda</a></li>
                            <li><a href="service.html">Hizmetlerimiz</a></li>
                            <li><a href="project.html">Personeller</a></li>
                            <li><a href="team.html">Kitaplar</a></li>
                            <li><a href="blog.html">Yazarlar</a></li>
                            <li><a href="contact.html">İletişim</a></li>
                            <li>
                                <a href="#">
                                    <span class="lnr lnr-cart"></span>
                                </a>
                            </li>
                            <li class="search">
                                <form action="">
                                    <input type="text" name="search" placeholder="Search....">
                                    <a href="#">
                                        <span class="lnr lnr-magnifier"></span>
                                    </a>
                                </form>
                            </li>
                        </ul><!-- / ul -->
                    </div><!-- /.navbar-collapse -->
                </nav><!--/nav -->
            </div><!--/.menubar -->
        </div><!-- /.container -->

    </section><!--/#menu-->
    <!--menu end-->
    <!-- header-slider-area start -->
    <section class="header-slider-area">
        <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
         
                
            </div><!-- /.carousel-inner-->
            <!-- Controls -->
            
        </div><!-- /.carousel-->

    </section><!-- /.header-slider-area-->
    <!-- header-slider-area end -->
    <!--we-do start -->
    <section class="we-do">
        <div class="container">
            <div class="we-do-details">
                <div class="section-header text-center">
                    <h2>Bambaşka Dünyalara Açılan Milyonlarca Kaynak,Araştırmalarınızın Işığı Olacak</h2>
                    <p>
                        "Kitabın olduğu yerde herkes kendini bulur."
                    </p>
                </div><!--/.section-header-->
               
            </div><!--/.we-do-details-->
        </div><!--/.container-->

    </section><!--/.we-do-->
    <!--we-do end-->
    <!--about-us start -->
    <section class="about-us">
        <div class="container">
            <div class="about-us-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="single-about-us">
                            <div class="about-us-txt">
                                <h2>Hakkımızda</h2>
                                <p>
                                    Kütüphanemiz, 125.000 m² alanda 5.500 kişilik oturma kapasitesi ile okuyuculara hizmet vermektedir.Koleksiyonumuzda 2.360.000 basılı
                                    kaynak, 14.101 adet basılı dergiye ait 2.033.103 sayı mevcuttur. Ayrıca, erişim sağlanan 69 adet veritabanı içeriğinde; 750.000 e-kitap,
                                    7.000.000 elektronik tez ve 120.000’e yakın e-dergiye ait 240.000.000’dan fazla makale, rapor, vb. bulunmaktadır.
                                    <div class="project-btn">
                                        <a href="#" class="project-view">
                                            Daha Fazlası
                                        </a>
                                    </div><!--/.project-btn-->
</div><!--/.about-us-txt-->
                        </div><!--/.single-about-us-->
                    </div><!--/.col-->
                    <div class="col-sm-6">
                        <div class="single-about-us">
                            <div class="about-us-img">
                                <img src="~/Tema/assets/images/about/3.jpg" alt="about images">
                            </div><!--/.about-us-img-->
                        </div><!--/.single-about-us-->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.about-us-content-->
        </div><!--/.container-->

    </section><!--/.about-us-->
    <!--about-us end -->
    <!--service start-->
    <section class="service">
        <div class="container">
            <div class="service-details">
                <div class="section-header text-center">
                    <h2>Hizmetlerimiz</h2>
                    <p>
                        Okuyucuların bilgi ve araştırma gereksinimlerini karşılamak, eğitim ve öğretim faaliyetlerine destek vermek
                        ve herhangi bir ihtiyaçtan dolayı oluşan sorularını yanıtlamak  amacıyla sunulan tüm hizmetler bu birim tarafından verilmektedir.
                        Okuyucuların bilgi ve araştırma gereksinimlerini karşılamak, eğitim ve öğretim faaliyetlerine destek vermek ve herhangi bir ihtiyaçtan
                        dolayı oluşan sorularını yanıtlamak amacıyla sunulan tüm hizmetler bu birim tarafından verilmektedir.
                    </p>
                </div><!--/.section-header-->
                
            </div><!--/.service-details-->
        </div><!--/.container-->

    </section><!--/.service-->
    <!--service end-->
    <!--statistics start-->
    <section class="statistics">
        <div class="container">
            <div class="statistics-counter ">
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-img">
                            <img src="~/Tema/assets/images/counter/counter1.png" alt="counter-icon" />
                        </div><!--/.statistics-img-->
                        <div class="statistics-content">
                            <div class="counter">2015</div>
                            <h3>Yılından Beri</h3>
                        </div><!--/.statistics-content-->
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-img">
                            <img src="~/Tema/assets/images/counter/counter2.png" alt="counter-icon" />
                        </div><!--/.statistics-img-->
                        <div class="statistics-content">
                            <div class="counter">2.360.000</div>
                            <h3>Basılı Kaynak</h3>
                        </div><!--/.statistics-content-->
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-img">
                            <img src="~/Tema/assets/images/counter/counter3.png" alt="counter-icon" />
                        </div><!--/.statistics-img-->
                        <div class="statistics-content">
                            <div class="counter">7.000.000</div>
                            <h3>Elektronik Tez</h3>
                        </div><!--/.statistics-content-->
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-img">
                            <img src="~/Tema/assets/images/counter/counter4.png" alt="counter-icon" />
                        </div><!--/.statistics-img-->
                        <div class="statistics-content">
                            <div class="counter">750.000</div>
                            <h3>Çocuk Kitabı</h3>
                        </div><!--/.statistics-content-->
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
            </div><!--/.statistics-counter-->
        </div><!--/.container-->

    </section><!--/.statistics-->
    <!--statistics end-->
    <!--project start-->
    <section id="project" class="project">
        <div class="container">
            <div class="project-details">
                <div class="project-header text-left">
                    <h2>Etkinlikler</h2>
                    <p>
                        Kütüphanemizde birçok sergi,seminer ve atölye etkinliği yapılmaktadır.
                    </p>
                </div><!--/.project-header-->
                <div class="project-content">
                    <div class="gallery-content">
                        <div class="isotope">
                            <div class="row">
                                <div class=" col-md-4 col-sm-12">
                                    <div class="item big-height">
                                        <img src="~/Tema/assets/images/project/5.jpg" alt="portfolio image" />
                                        <div class="isotope-overlay">
                                            <a href="project.html">
                                                <span class="lnr lnr-link"></span>

                                            </a>
                                            <h3>
                                                <a href="project.html">
                                                   
                                                </a>
                                            </h3>
                                            <p>Sergi</p>
                                        </div><!-- /.isotope-overlay -->
                                    </div><!-- /.item -->
                                </div><!-- /.col -->
                                <div class="col-md-8 col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="item">
                                                <img src="~/Tema/assets/images/project/4.jpeg" alt="portfolio image" />
                                                <div class="isotope-overlay">
                                                    <a href="project.html">
                                                        <span class="lnr lnr-link"></span>

                                                    </a>
                                                    <h3>
                                                        <a href="project.html">
                                                            
                                                        </a>
                                                    </h3>
                                                    <p>Sergi</p>
                                                </div><!-- /.isotope-overlay -->
                                            </div><!-- /.item -->
                                        </div><!-- /.col -->
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="item">
                                                <img src="~/Tema/assets/images/project/6.jpg" alt="portfolio image" />
                                                <div class="isotope-overlay">
                                                    <a href="project.html">
                                                        <span class="lnr lnr-link"></span>

                                                    </a>
                                                    <h3>
                                                        <a href="project.html">
                                                    
                                                        </a>
                                                    </h3>
                                                    <p></p>
                                                </div><!-- /.isotope-overlay -->
                                            </div><!-- /.item -->
                                        </div><!-- /.col -->
                                    </div><!-- /.row-->
                                 

                                </div><!-- /.col -->
                            </div><!-- /.row -->

                        </div><!--/.isotope-->
                    </div><!--/.gallery-content-->
                </div><!--/.project-content-->
            </div><!--/.project-details-->
            <div class="project-btn text-center">
                <a href="project.html" class="project-view">
                  Tümünü İncele
                </a>
            </div><!--/.project-btn-->
        </div><!--/.container-->

    </section><!--/news-->
    <!--news end-->
    <!--contact start-->
    <section class="contact">
        <div class="container">
            <div class="contact-details">
                <div class="section-header contact-head  text-center">
                    <h2>Bizimle İletişime Geçin</h2>
                    <p>
                        Detaylı bilgi almak ve hizmetlerimizden yararlanmak için bizimle iletişime geçin.
</div><!--/.section-header-->
                <div class="contact-content">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-5">
                            <div class="single-contact-box">
                                <div class="contact-right">
                                    <div class="contact-adress">
                                        <div class="contact-office-address">
                                            <h3>İletişim Bilgileri</h3>
                                            <p>
                                                Tantavi Mahallesi Akın Sokak Ümraniye/İSTANBUL
                                            </p>
                                            <div class="contact-online-address">
                                                <div class="single-online-address">
                                                    <i class="fa fa-phone"></i>
                                                    +11253678958
                                                </div><!--/.single-online-address-->

                                                <div class="single-online-address">
                                                    <i class="fa fa-envelope-o"></i>
                                                    <span>info@mail.com</span>
                                                </div><!--/.single-online-address-->
                                            </div><!--/.contact-online-address-->
                                        </div><!--/.contact-office-address-->
                                        <div class="contact-office-address">
                                            <h3>Sosyal Medya Hesaplarımız</h3>
                                            <div class="contact-icon">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li><!--/li-->
                                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li><!--/li-->
                                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li><!--/li-->
                                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li><!--/li-->
                                                </ul><!--/ul-->
                                            </div><!--/.contact-icon-->
                                        </div><!--/.contact-office-address-->

                                    </div><!--/.contact-address-->
                                </div><!--/.contact-right-->
                            </div><!--/.single-contact-box-->
                        </div><!--/.col-->
                        <div class="col-sm-5">
                            <div class="single-contact-box">
                                <div class="contact-form">
                                    <h3>Mesajınızı İletin</h3>
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="firstname" placeholder="Adınız" name="firstname">
                                                </div><!--/.form-group-->
                                            </div><!--/.col-->
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="lastname" placeholder="Soyadınız" name="laststname">
                                                </div><!--/.form-group-->
                                            </div><!--/.col-->
                                        </div><!--/.row-->
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                                                </div><!--/.form-group-->
                                            </div><!--/.col-->
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="phone" placeholder="Telefon Numarası" name="phone">
                                                </div><!--/.form-group-->
                                            </div><!--/.col-->
                                        </div><!--/.row-->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="7" id="comment" placeholder="Mesaj"></textarea>
                                                </div><!--/.form-group-->
                                            </div><!--/.col-->
                                        </div><!--/.row-->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="single-contact-btn pull-right">
                                                    <button class="contact-btn" type="button">Gönder</button>
                                                </div><!--/.single-single-contact-btn-->
                                            </div><!--/.col-->
                                        </div><!--/.row-->
                                    </form><!--/form-->
                                </div><!--/.contact-form-->
                            </div><!--/.single-contact-box-->
                        </div><!--/.col-->
                    </div><!--/.row-->
                </div><!--/.contact-content-->
            </div><!--/.contact-details-->
        </div><!--/.container-->

    </section><!--/.contact-->
    <!-- new-project start -->
    
    <!-- new-project end -->
    <!--hm-footer start-->
    <section class="hm-footer">
        <div class="container">
            <div class="hm-footer-details">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="hm-footer-widget">
                            <div class="hm-foot-title ">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="~/Tema/assets/images/logo/logo.png" alt="logo" />
                                    </a>
                                </div><!-- /.logo-->
                            </div><!--/.hm-foot-title-->
                            <div class="hm-foot-para">
                                <p>
                                    Lorem ipsum dolor sit amt conetur adcing elit. Sed do eiusod tempor utslr. Ut laboris nisi ut aute irure dolor in rein velit esse.
                                </p>
                            </div><!--/.hm-foot-para-->
                            <div class="hm-foot-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li><!--/li-->
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li><!--/li-->
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li><!--/li-->
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li><!--/li-->
                                </ul><!--/ul-->
                            </div><!--/.hm-foot-icon-->
                        </div><!--/.hm-footer-widget-->
                    </div><!--/.col-->
                    <div class=" col-md-2 col-sm-6 col-xs-12">
                        <div class="hm-footer-widget">
                            <div class="hm-foot-title">
                               
                            </div><!--/.hm-foot-title-->
                            <div class="footer-menu ">
                                <ul class="">
                                    <li><a href="index.html">Anasayfa</a></li>
                                    <li><a href="about.html">Hakkımızda</a></li>
                                    <li><a href="services.html">Hizmetlerimiz</a></li>
                                    <li><a href="portfolio.html">İletişim</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Mesaj</a></li>
                                </ul>
                            </div><!-- /.footer-menu-->
                        </div><!--/.hm-footer-widget-->
                    </div><!--/.col-->
                    <div class=" col-md-3 col-sm-6 col-xs-12">
                        <div class="hm-footer-widget">
                            <div class="hm-foot-title">
                                <h4>Haberler</h4>
                            </div><!--/.hm-foot-title-->
                            <div class="hm-para-news">
                                <a href="blog_single.html">
                                    Sergi,seminer için takipte kalın...
                                </a>
                                <span>12 Haziran 2022</span>
                            </div><!--/.hm-para-news-->
                            <div class="footer-line">
                                <div class="border-bottom"></div>
                            </div>
                            <div class="hm-para-news">
                                <a href="blog_single.html">
                                    Öğrenciler için ayrı çalışma odalarımız açıldı.
                                </a>
                                <span>24 Ocak 2023</span>
                            </div><!--/.hm-para-news-->
                        </div><!--/.hm-footer-widget-->
                    </div><!--/.col-->
                    
                </div><!--/.row-->
            </div><!--/.hm-footer-details-->
        </div><!--/.container-->

    </section><!--/.hm-footer-details-->
    <!--hm-footer end-->
    <!-- footer-copyright start -->
    <footer class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="foot-copyright pull-left">
                        <p>
                            &copy; All Rights Reserved. Designed and Developed by
                            <a href="https://www.themesine.com">ThemeSINE</a>
                        </p>
                    </div><!--/.foot-copyright-->
                </div><!--/.col-->
                <div class="col-sm-5">
                    <div class="foot-menu pull-right
						">
                        <ul>
                            <li><a href="#">Okuyucu Hizmetleri</a></li>
                            <li><a href="#">Harita</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                        </ul>
                    </div><!-- /.foot-menu-->
                </div><!--/.col-->
            </div><!--/.row-->
            <div id="scroll-Top">
                <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
            </div><!--/.scroll-Top-->
        </div><!-- /.container-->

    </footer><!-- /.footer-copyright-->
    <!-- footer-copyright end -->
    <!-- jaquery link -->

    <script src="~/Tema/assets/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--modernizr.min.js-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>


    <!--bootstrap.min.js-->
    <script type="text/javascript" src="~/Tema/assets/js/bootstrap.min.js"></script>

    <!-- bootsnav js -->
    <script src="~/Tema/assets/js/bootsnav.js"></script>

    <!-- for manu -->
    <script src="~/Tema/assets/js/jquery.hc-sticky.min.js" type="text/javascript"></script>


    <!-- vedio player js -->
    <script src="~/Tema/assets/js/jquery.magnific-popup.min.js"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--owl.carousel.js-->
    <script type="text/javascript" src="~/Tema/assets/js/owl.carousel.min.js"></script>

    <!-- counter js -->
    <script src="~/Tema/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Tema/assets/js/waypoints.min.js"></script>

    <!--Custom JS-->
    <script type="text/javascript" src="~/Tema/assets/js/jak-menusearch.js"></script>
    <script type="text/javascript" src="~/Tema/assets/js/custom.js"></script>


</body>

</html>



